<p appHighlight>directives works!</p>
<ng-content></ng-content>

<input type="checkbox" [(ngModel)]="flag" (click)="toggleFlag()" />{{ flag }}
<table *ngIf="flag" class="table table-bordered table-striped">
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
  <tr>
    <td>data-1</td>
    <td>data-2</td>
    <td>data-3</td>
    <td>data-4</td>
    <td>data-5</td>
  </tr>
</table>

<p *ngIf="flag">This is paragraph-1</p>
<p [hidden]="!flag">This is paragraph-2</p>

<div *ngIf="n % 2 == 0">{{ n }} is Even</div>
<div *ngIf="n % 2 != 0" appHighlight>{{ n }} is Odd</div>

<div *ngIf="n % 2 == 0; else oddBlock">{{ n }} is Even Number</div>
<ng-template #oddBlock> {{ n }} is an odd number </ng-template>

<h3 [ngSwitch]="n">
  <p *ngSwitchCase="1">Monday</p>
  <p *ngSwitchCase="2">Tuesday</p>
  <p *ngSwitchCase="3">Wednesday</p>
  <p *ngSwitchCase="4">Thursday</p>
  <p *ngSwitchCase="5">Friday</p>
  <p *ngSwitchCase="6">Saturday</p>
  <p *ngSwitchCase="7">Sunday</p>
  <p *ngSwitchDefault>Not a valid number</p>
</h3>
<div *ngFor="let car of cars; let i = index">
  <span>{{ car }} - {{ i }}</span>
</div>
==============================================================
<div *ngFor="let car of cars; let i = index; let x = odd">
  <span *ngIf="x">{{ car }} - {{ i }} - {{ x }}</span>
</div>
=============================================================
<table class="table table-bordered table-striped">
  <tr>
    <th>SL No.</th>
    <th>Emp Id.</th>
    <th>Name</th>
    <th>Salary</th>
    <th>cars</th>
  </tr>
  <tr *ngFor="let emp of employees; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ emp.eId }}</td>
    <td>{{ emp.name }}</td>
    <td>{{ emp.sal }}</td>
    <td>
      {{ !emp.cars || emp.cars?.length == 0 ? "No car available" : emp.cars }}
    </td>
  </tr>
</table>
===================================================
<textarea numberonly></textarea>
<input numberonly /> 
<button backButton>Go Back</button>