<div class="center">
  <!-- This is center component -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives>
    <h1>I am Heading-1 from App Component</h1>
  </app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-employees></app-employees> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-emp></app-emp> -->
  <!-- <app-users></app-users> -->
  <!-- <app-comment></app-comment> -->
  <!-- <app-observable1></app-observable1> -->
  <!-- <app-observable2></app-observable2> -->
  <!-- <app-observable3></app-observable3> -->
  <!-- <app-forkjoin></app-forkjoin> -->
  <!-- <app-mapdemo></app-mapdemo> -->
  <!-- <app-mylogin></app-mylogin> -->
  <!-- <app-observable4></app-observable4> -->
  <!-- <app-message1></app-message1>
  ================================================
  <app-message2></app-message2> -->
  <!-- <app-form1></app-form1> -->
  <!-- <app-form2></app-form2> -->
  <!-- <app-form3></app-form3> -->
  <!-- <app-model-driven-form1></app-model-driven-form1> -->
  <!-- <app-model-driven-form2></app-model-driven-form2> -->
  <router-outlet></router-outlet>
</div>
